.assignment_reset  .fitem .fitemtitle {
    width: 35% !important;
}

.assignment_reset  .fitem .felement {
    margin-left: 36% !important;
    width: 60% !important;
}

.assignment_reset .fitem fieldset.felement {
    margin-left: 35% !important;    
}
